<footer class="footer-style-main">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/projects">Projects</a></li>
  </ul>
  <div class="contact">
    <h4>Contact info</h4>

    <div class="contact__links">
      <a
        class="contact__links--item"
        href="https://github.com/guiarango/GuilloDev"
      >
        <i class="fab fa-github"></i
      ></a>

      <a
        class="contact__links--item"
        href="https://www.linkedin.com/in/guillermo-arango-mesa-918231144/"
      >
        <i class="fab fa-linkedin"></i
      ></a>

      <a
        class="contact__links--item"
        href="https://wa.me/+573053388965?text=Hi%20I'm%20Guill.io%20Dev,%20How%20can%20I%20help%20you?"
        ><i class="fab fa-whatsapp"></i
      ></a>
    </div>
  </div>
</footer>

<%- include("hamburgerMenu") %>
