<header>
  <nav class="desktop-nav">
    <ul>
      <li class="item-logo">
        <a href="/" class="logo"
          ><img src="/images/logoDev.png" alt="logo Dev"
        /></a>
      </li>
      <li><a href="/about">About</a></li>

      <li><a href="/projects">Projects</a></li>
    </ul>
  </nav>

  <div class="mobile-nav">
    <a href="/" class="logo"
      ><img src="/images/logoDev.png" alt="logo Dev"
    /></a>

    <div class="sideNav">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </nav>
    </div>
    <div id="menuBtn">
      <img src="/images/hamburgerMenu.png" id="menu" />
    </div>
  </div>

  <div class="icon-container-whatsapp">
    <a href="https://wa.me/3210000000?text=Hola,%20¿Cómo%20podemos%20ayudarte?"
      ><i class="fab fa-whatsapp-square"></i
    ></a>
  </div>
</header>
