<header>
  <img src="/images/logoDev.png" alt="logo Dev" />

  <div class="icon-container-whatsapp">
    <a
      href="https://wa.me/+573053388965?text=Hi%20I'm%20Guill.io%20Dev,%20How%20can%20I%20help%20you?"
      ><i class="fab fa-whatsapp-square"></i
    ></a>
  </div>
</header>
