<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/headConfig") %>
    <title>Guill.io About</title>
    <meta
      name="description"
      content="In this webpage you will find the projects I have made to become a fullstack developer"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <%- include("partials/header") %>

    <main></main>
    <%- include("partials/footer") %>
  </body>
</html>
