<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/headConfig") %>

    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Guill.io</title>
  </head>
  <body></body>
</html>
