//Colors
$primary-color: #68faff;
$secondary-color: #daff7d;
$tertiary-color: #f7b05b;
$quaternary-color: #f05d5e;
$quinary-color: #b2abf2;
$black-color: #000000;
$white-color: #ffffff;
$light-gray: #f1f1f1;
$dark-gray: #929292;
