footer {
  background-color: rgba($color: $black-color, $alpha: 0.8);
  color: $white-color;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 32px 0;

  ul {
    margin-bottom: 30px;
    text-align: center;

    li {
      list-style: none;
      margin-bottom: 8px;

      a {
        text-decoration: none;
        color: $white-color;
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 32px;
    width: 60%;
    text-align: center;
    h4 {
      margin-bottom: 20px;
    }

    .contact__links {
      display: flex;
      justify-content: space-evenly;
      font-size: 50px;

      .contact__links--item {
        .fab.fa-whatsapp {
          color: #25d366;
        }
        .fab.fa-linkedin {
          color: #0077b5;
        }
        .fab.fa-github {
          color: $white-color;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  footer {
    flex-direction: row;

    ul {
      text-align: left;

      li {
        margin-bottom: 12px;
      }
    }

    .contact {
      width: auto;
      min-width: 300px;
    }
  }
}
