header {
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 999;
  background-color: $white-color;
  height: 100px;
  margin-bottom: 30px;

  img {
    margin-top: 5px;
    height: 100%;
  }

  .icon-container-whatsapp {
    position: fixed;
    left: 40px;
    bottom: 40px;
    font-size: 60px;
  }

  .fa-whatsapp-square {
    color: #25d366;
    font-size: 40px;
    z-index: 100;
  }
}
