.home {
  width: 100%;

  .hero {
    width: 95%;
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: left;
    margin-bottom: 30px;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 30px;

      h1 {
        font-size: 40px;
        margin: 10px 0 10px 0;
      }
      h2 {
        font-size: 20px;
      }
      a {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 200px;
        text-decoration: none;
        color: $black-color;
        border: 0.5px solid $black-color;
        border-radius: 50px;
        padding: 20px 30px;
        margin-top: 30px;
        transition: 0.1s;
        cursor: pointer;

        &:hover {
          background-color: $black-color;
          color: $white-color;
          font-weight: bold;
          transform: translate(2px, -2px);
        }
      }
    }

    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}

@media (min-width: 750px) {
  .home {
    width: 100%;

    .hero {
      flex-direction: row;
      margin-top: 90px;

      div {
        margin-top: 90px;
        margin-left: -30px;

        h1 {
          font-size: 50px;
        }
        h2 {
          font-size: 25px;
        }

        a {
          width: 250px;
          padding: 25px 40px;
        }
      }

      img {
        width: 500px;
      }
    }
  }
}
