@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px;
  letter-spacing: 1.2px; }

body {
  overflow-x: hidden; }

html {
  font-family: "Geologica", "Open Sans", sans-serif; }

header {
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  height: 100px;
  margin-bottom: 30px; }
  header img {
    margin-top: 5px;
    height: 100%; }
  header .icon-container-whatsapp {
    position: fixed;
    left: 40px;
    bottom: 40px;
    font-size: 60px; }
  header .fa-whatsapp-square {
    color: #25d366;
    font-size: 40px;
    z-index: 100; }

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 32px 0; }
  footer ul {
    margin-bottom: 30px;
    text-align: center; }
    footer ul li {
      list-style: none;
      margin-bottom: 8px; }
      footer ul li a {
        text-decoration: none;
        color: #ffffff; }
  footer .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 32px;
    width: 60%;
    text-align: center; }
    footer .contact h4 {
      margin-bottom: 20px; }
    footer .contact .contact__links {
      display: flex;
      justify-content: space-evenly;
      font-size: 50px; }
      footer .contact .contact__links .contact__links--item .fab.fa-whatsapp {
        color: #25d366; }
      footer .contact .contact__links .contact__links--item .fab.fa-linkedin {
        color: #0077b5; }
      footer .contact .contact__links .contact__links--item .fab.fa-github {
        color: #ffffff; }

@media (min-width: 600px) {
  footer {
    flex-direction: row; }
    footer ul {
      text-align: left; }
      footer ul li {
        margin-bottom: 12px; }
    footer .contact {
      width: auto;
      min-width: 300px; } }

.home {
  width: 100%; }
  .home .hero {
    max-width: 1200px;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 30px; }
    .home .hero div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px; }
      .home .hero div h1 {
        font-size: 30px;
        margin: 10px 0 10px 0; }
      .home .hero div h2 {
        font-size: 20px; }
      .home .hero div a {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 200px;
        text-decoration: none;
        color: #000000;
        border-radius: 50px;
        padding: 20px 30px;
        margin-top: 30px;
        transition: 0.1s;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; }
        .home .hero div a:hover {
          background-color: #000000;
          color: #ffffff;
          font-weight: bold; }
    .home .hero img {
      width: 100%;
      border-radius: 5px; }
    .home .hero .technology-icons {
      margin-top: 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 30px; }
      .home .hero .technology-icons i {
        font-size: 50px;
        cursor: pointer;
        transition: 0.2s; }
        .home .hero .technology-icons i:hover {
          padding-bottom: 5px;
          border-bottom: 5px solid #68faff; }
      .home .hero .technology-icons .fa-html5 {
        color: #f16529; }
      .home .hero .technology-icons .fa-css3-alt {
        color: #264de4; }
      .home .hero .technology-icons .fa-js-square {
        color: #f0db4f; }
      .home .hero .technology-icons .fa-node-js {
        color: #3c873a; }
      .home .hero .technology-icons .fa-react {
        color: #36dff8; }
      .home .hero .technology-icons .fa-database {
        color: #929292; }
  .home .projects {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .home .projects .viewAll {
      text-decoration: none;
      color: #000000;
      margin-bottom: 60px;
      border-radius: 50px;
      padding: 20px 30px;
      margin-top: 30px;
      transition: 0.1s;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; }
      .home .projects .viewAll:hover {
        background-color: #000000;
        color: #ffffff;
        font-weight: bold; }
    .home .projects .projects-container {
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding: 60px 0 30px 0; }
      .home .projects .projects-container .project-container--card {
        text-decoration: none;
        color: #000000;
        text-align: center;
        height: 280px;
        width: 47%;
        border-radius: 5px;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        margin-bottom: 30px; }
        .home .projects .projects-container .project-container--card .project-image {
          width: 100%;
          height: 120px;
          border-radius: 5px; }
          .home .projects .projects-container .project-container--card .project-image.image-1, .home .projects .projects-container .project-container--card .project-image.image-2, .home .projects .projects-container .project-container--card .project-image.image-3 {
            background: url("/images/prueba.png");
            background-size: cover;
            background-position: center; }
        .home .projects .projects-container .project-container--card .project-description {
          padding: 10px; }
          .home .projects .projects-container .project-container--card .project-description h2 {
            font-size: 16px;
            margin-bottom: 15px; }
          .home .projects .projects-container .project-container--card .project-description p {
            font-size: 10; }
  .home .experience {
    margin-top: 60px; }
    .home .experience .experience-container {
      width: 90%;
      margin: auto; }
      .home .experience .experience-container .experience-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px; }
        .home .experience .experience-container .experience-header button {
          font-size: 24px;
          width: 100%;
          padding: 30px;
          border: 1px solid #929292;
          background-color: #ffffff;
          transition: 0.1s;
          margin-bottom: 20px;
          cursor: pointer; }
      .home .experience .experience-container .experience-body .row,
      .home .experience .experience-container .education-body .row {
        display: flex;
        border: 1px solid #929292;
        min-height: 150px; }
        .home .experience .experience-container .experience-body .row .time,
        .home .experience .experience-container .education-body .row .time {
          width: 150px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-right: 1px solid #929292; }
          .home .experience .experience-container .experience-body .row .time div,
          .home .experience .experience-container .education-body .row .time div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-right: 2px solid #929292;
            height: 50px; }
        .home .experience .experience-container .experience-body .row .description,
        .home .experience .experience-container .education-body .row .description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          margin: 0 30px; }
          .home .experience .experience-container .experience-body .row .description > *,
          .home .experience .experience-container .education-body .row .description > * {
            margin-bottom: 10px; }

@media (min-width: 750px) {
  .home {
    width: 100%; }
    .home .hero {
      flex-direction: row;
      margin-top: 90px; }
      .home .hero img {
        width: 400px; }
      .home .hero div {
        margin-top: 50px;
        margin-left: -30px;
        align-items: flex-start; }
        .home .hero div h1 {
          font-size: 36px; }
        .home .hero div h2 {
          font-size: 22px; }
        .home .hero div a {
          width: 250px;
          padding: 25px 40px; }
      .home .hero .technology-icons {
        flex-direction: column;
        margin-top: 0px;
        margin-left: 30px; } }

@media (min-width: 1000px) {
  .home .hero {
    justify-content: space-evenly; }
    .home .hero div {
      margin-top: 90px;
      margin-left: -100px; }
    .home .hero img {
      width: 500px; }
  .home .projects .projects-container .project-container--card {
    height: 350px;
    width: 28%; }
    .home .projects .projects-container .project-container--card .project-image {
      width: 100%;
      height: 150px;
      border-radius: 5px; }
    .home .projects .projects-container .project-container--card .project-description {
      padding: 10px; }
      .home .projects .projects-container .project-container--card .project-description h2 {
        font-size: 24px;
        margin-bottom: 15px; }
      .home .projects .projects-container .project-container--card .project-description p {
        font-size: 16px; }
  .home .experience .experience-container .experience-header {
    flex-direction: row;
    gap: 20px; }
    .home .experience .experience-container .experience-header button {
      width: 45%; } }

@media (min-width: 1100px) {
  .home .hero div {
    margin-left: -120px; }
  .home .hero img {
    width: 550px; } }
