@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 8px; }

main {
  margin-top: 1rem; }

html {
  font-family: "Open Sans", "Geologica", sans-serif; }

footer {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff; }
